* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: seashell;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;

}
header {
    border-bottom: 1px solid seashell;
    display: flex;
    
    height: 70px;
    width: 100%;

}
header img {
    margin: 10px;
    height: 50px;
    
}
.fixed {
    display: flex;
    flex-flow: row;
    margin-left: 60%;
    align-items: center;
    text-decoration: underline;
    padding-right: 10px;
}
.nav {
    padding: 10px;
}
.container {
    display: flex;
    align-items: center;
    
    text-align: center;
    background-image: url(./img-mission-background.jpg);
    height: 700px;
    width: 1200px;

}
#background {
    justify-content: center;
}
.text {
    background-color: black;
    width: 100%;
}